/*

.five{
    color: rgb(19, 141, 19);
    margin-right: 200px;
   
}

.four{
    margin-right: 300px;
}

.backarrow{
    margin-right: 300px;
}

.cod{
    margin-right: 320px;
    font-weight: bold;
    color: grey;
}

.calendarimage{
    width: 2%;
      height: 2%;
}

.clockimage{
    width: 2%;
      height: 2%;
}

/* .details{
   margin-left: 330px;
   font-weight: bold;
}

.name{
    margin-left: 280px;
}
.intname{
    margin-left: 150px;
}

.email{
    margin-left: 280px;
}

.emailtext{
    margin-left: 150px;
}

.submit{
    margin-left: 370px;
    
} */

.scheduleeventmain{
    display: flex;
    margin-top: 100px;
}

.arrow-col-2{
    text-align: left;
}

.arrow-col-1{
    margin-left: 30vh;
   
    
}

.calendarimage{
    width: 20px;
}

.details{
    font-weight: bold;
}


.cod{
    margin-right: 310px;
    font-weight: bold;
    color: grey;
}
.price{
    margin-right: 100px;
}
.backarrow{
    margin-right: 380px;
}
