.scheduleeventmain {
  margin-top: 100px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.arrow-col-2 {
  text-align: left;
}

.btn {
  background-color: #0abde3;
}

.vertical {
  height: 500px;
  border-left: 1px solid rgb(207, 203, 203);
  top: 0;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: 190px;
}

.arrow-col-1 {
  margin-left: 30vh;
}

.clock {
  margin-right: 310px;
}

.clock_image {
  width: 20px;
  height: 20px;
}

.calendar {
  margin-right: 210px;
}

.calendar_image {
  width: 20px;
  height: 20px;
}

.details {
  font-weight: bold;
  font-size: 28px;
}

.cod {
  margin-right: 310px;
  font-weight: bold;
  color: grey;
}

.price {
  margin-right: 100px;
}

.backarrow {
  margin-right: 380px;
}

/* styles */

.event_label {
  font-size: 16px;
}

.event-bottom {
  margin-top: 3rem;
}

.event_part_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_part_btn {
  padding: 15px 35px;
  border: none;
  outline: none;
  background-color: #ff6666;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  animation: event_btn 0.7s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.event_part_btn:hover {
  transform: scale(1.1);
}

.event_table {
  height: 500px;
  overflow-y: scroll;
  margin-top: 1.5rem;
  animation: event_table 0.7s ease-in-out;
}

.event_table::-webkit-scrollbar {
  display: none;
}

@keyframes event_btn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes event_table {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}
