.ho2{
    width: 60%;
    margin-left: -100px;
    color: rgb(167, 164, 164);
    height: 600px;
    
}

.price{
    /* margin-left: 50px; */
    font-weight: bold;
    font-size: 16px;
    color: rgb(41, 40, 40);
    margin-right: 300px;
}

.calendarimage{
    width: 20px;
      height: 20px;
}

.clockimage{
    width: 20px;
      height: 20px;
}

.five{
    color: rgb(19, 141, 19);
    margin-right: 200px;
}

.four{
    margin-right: 300px;
}

.one{
    font-weight: bold;
    font-size: 18px;
    margin-left: 80px;
}

.two{
    
    color: rgb(185, 182, 182);
    font-size: 17px;
    
}

.confirmed{
    margin-top: 70px;
    margin-left: 490px;
}