<<<<<<< HEAD
.team_img{
=======
.grid{
    display: flex;
    flex-direction: row;
    border: none;
    margin-top: 200px;
}

.team{
>>>>>>> b84d64ad4ca5caf18ab91776ca11b74d7037b97c
    margin-top: 0px;
    
    
}








@media only screen and (max-width: 900px) {
    .grid {
        flex-direction: column;
        margin-top: 100px;
    }
}
