.page1 {
    position: absolute;
    left: 950px;
    top: 257px;
}

.Text {
    position: absolute;
    width: 661px;
    height: 184px;
    left: 300px;
    top: 278px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 59px;
    color: #444752;
}

.email-box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    height: 57px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    top: 200px;
    right: 175px;
    margin-left: 325px;
}

.email-box input {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 57px;
    border: 1px solid #00a3fa;
    font-size: 18px;
    appearance: none;
    line-height: normal;
}

.email-box input[type="email"] {
    left: 0;
    width: 70%;
    padding: 16px 0 16px 15px;
    border-radius: 5px 0 0 5px;
}

input[type="email"] {
    max-width: 100%;
    background: #ffffff;
    outline: none;
    color: #656a72;

}

.email-box input[type="submit"] {
    right: 0;
    width: 30%;
    border-radius: 0 5px 5px 0;
    background-color: #00a3fa;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    .page1 {
        display: none;
      }

      .Text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 59px;
        color: #444752;
        width: 340px;
        right: 0;
        top: 170px;
        left: 10px;
        margin-left: 3px;
    }

    .email-box {
        position: relative;
        z-index: 1;
        width: 98%;
        max-width: 380px;
        height: 57px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        box-sizing: border-box;
        top: 160px;
        margin-left: 180px;
    }
    }