.main-footer {
  color: white;
  background: #03203c;
  padding-top: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

.content-wrap {
  flex: 1;
}
