.main-footer {
  color: white;
  background: #03203c;
  padding: 2em 0;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.line {
  /* padding: 10px 0; */
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.main_row {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 15px;
  /* background-color: #03182c; */
}

.list-unstyled {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}

.list-unstyled a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}
.list-unstyled :hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .copy_right {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .copy_right {
    font-size: 10px;
  }
}
