* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
}

a {
  text-decoration: none;
  list-style: none;
}

.loader {
  position: fixed;
  inset: 0px;
  z-index: 1000;
  background: rgb(255, 255, 255);
}

.loader_div {
  position: absolute;
  top: 40%;
  left: 45%;
  margin-left: -110px;
  margin-top: -55px;
  color: rgb(0, 0, 0);
  font-family: Arial;
  text-align: center;
}
label {
  font-size: 0.8rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

@media (max-width: 767px) {
  .mobile {
    display: none;
  }
}
