* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

.loader {
  position: fixed;
  inset: 0px;
  z-index: 1000;
  background: rgb(255, 255, 255);
}

.loader_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-family: Arial;
  text-align: center;
}

.load_gif {
  animation: loader 0.9s linear infinite;
}

label {
  font-size: 0.8rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: rgba(255, 255, 255, 0.836);
  font-size: 0.6rem;
}

@media (max-width: 767px) {
  .mobile {
    display: none;
  }
}

@keyframes loader {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
